/*****BASE STYLES******/

/*html {
	width: 100%;
}*/

body {
 margin: 0;
}

h1 {
	font-family: "Fredericka the Great", cursive;
	font-size: 60px;
	font-weight: normal;
}

h2 {
	font-family: "Fredericka the Great", cursive;
	font-size: 36px;
	margin-top: 0;
	font-weight: normal;
}

h3 {
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 30px;
	font-weight: 700;
}

h4 {
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 24px;
	font-weight: 700;
}

h5 {
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 24px;
	font-weight: 300;
}

p {
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 18px;
	font-weight: 300;
}

/*****GRID*****/

.full-width {
	margin: 0 auto;
	width: 100%;
	max-width: 300px;
}

.half-width {
}

.third-width {
}

.horizontal-row {
	display: flex;
	flex-direction: column;
}


/*****HEADER*****/

header {
	text-align: center;
	color: white;
	width: 100%;
	background-image: url(../img/background-icons.png), linear-gradient(130deg, #001689, #acc9e8);
	background-repeat: no-repeat, no-repeat;
	background-position: left top, center;
	background-size: cover, cover
}

header h1 {
	margin : .5em 0;
}

header h5 {
	margin: 0 0 1em;
}

header p {
	text-transform: uppercase;
	margin: 0 0 12px;
}

header img {

}

/*****NAVIGATION*****/

nav {
	padding-top: 50px;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 0;
}


nav ul, nav li {
	list-style: none;
	margin: 0;
}

nav a {
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

/*****ABOUT******/

#about {
	padding: 100px 0 0;
	color: #0D204A;
}

#about p {
	font-size: 21px;
	line-height: 36px;
}

.left-column {
	padding-right: 50px;
}

/*****WORK*****/

#work {
	background-color: #0D204A;
	padding: 50px 0;
	color: white;
	text-align: center;
}

#work .third-width {
	padding-bottom: 20px;
}



.work-sample {
	width: 250px;
	height: 250px;
	border: solid 5px white;

}

/*****CONTACT******/

#contact {
	color: #0D204A;
	padding-top: 100px;
}

#contact h2 {
	text-align: center;
	margin-bottom: 75px;
}
#contact h3 {
	margin-top: 0;
}

#contact h5 {
	line-height: 36px;
}



#contact img {
	width: 45px;
	padding-right: 30px;
}


form {
  margin: 0 auto;
}

form div + div {
  margin-top: 1em;
}


input, textarea {
  font: 1em "open sans condensed";
  color: #0D204A;

  -moz-box-sizing: border-box;
       box-sizing: border-box;

  border: 1px solid #0D204A;
}

input:focus, textarea:focus {
  border-color: #0D204A;
}


textarea {
  height: 9em;
  resize: vertical;
}

.button {

}

button {
  width: 150px;
  background-color: #0D204A;
  color: white;
  font: 1em "open sans condensed";
  border: none;
}

.socialmedia-btns {
	display: flex;
	flex-direction: row;
	justify-content: center;
}




/*****FOOTER******/
footer {
	padding: 100px 0 50px;
}

footer p {
	color: #0D204A;
	text-align: center;
	font-weight: 700;
}

/*-------------END MAIN/MOBILE STYLES----------------*/

/*****MEDIA QUERIES*****/

@media screen and (min-width: 768px) {

/*****GRID******/	
.full-width {
	max-width: 750px;

}

.half-width {

}

.third-width {

}

.vertical-column {
	display: flex;
	flex-direction: column;
}

.horizontal-row {
	flex-direction: row;
}

/*****HEADER*****/

header {
		height: 768px;
}

header h1 {
		margin: 215px 0 0 0;
}

header h5 {
	margin: 25px 0 265px 0;
}


/*****NAVIGATION*****/

nav {
	padding-top: 50px;
	text-align: right;
}

nav ul {
	justify-content: flex-end;
}

nav ul, nav li {
	list-style: none;
	margin: 0;
}

/*****ABOUT*****/

#about {
		height: 400px;
}

/*****WORK*****/

#work {
		height: 500px;
		padding-top: 100px;
}

#work h2 {
	margin-bottom: 75px;
}



/********CONTACT FORM*********/

form div + div {
  margin-top: 1em;
}

form div {
	padding-left: 150px;
}

input, textarea {
  font: 1em "open sans condensed";
  color: #0D204A;
  width: 450px;
  padding-left: 20px;

  -moz-box-sizing: border-box;
       box-sizing: border-box;

  border: 1px solid #0D204A;
}

input:focus, textarea:focus {
  border-color: #0D204A;
}


textarea {
  height: 9em;
  resize: vertical;
}

.button {
  padding-left: 275px;
}

button {
  width: 150px;
  background-color: #0D204A;
  color: white;
  font: 1em "open sans condensed";
  border: none;
}

/********LARGE/FULL SIZE SCREENS*****/

@media screen and (min-width: 1200px) {

	.full-width {
		max-width: 1200px;
	}

	.half-width {
		max-width: 600px;
	}

	.third-width {
		max-width: 400px;
	}


/********CONTACT FORM*********/

form {
  margin: 0 auto;
  width: 600px;
}

form div + div {
  margin-top: 1em;
}

form div {
	padding-left: 150px;
}

input, textarea {
  font: 1em "open sans condensed";
  color: #0D204A;
  width: 450px;
  padding-left: 20px;

  -moz-box-sizing: border-box;
       box-sizing: border-box;

  border: 1px solid #0D204A;
}

input:focus, textarea:focus {
  border-color: #0D204A;
}


textarea {
  height: 9em;
  resize: vertical;
}

.button {
  padding-left: 275px;
}

button {
  width: 150px;
  background-color: #0D204A;
  color: white;
  font: 1em "open sans condensed";
  border: none;
}
}
